header {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  img {
    height: 32px;
  }
  div {
    font-size: $header-size;
    color: $clr1;
  }
  .explore-filter {
    flex: 1;
    max-width: 847px;
  }
}
