header {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  img {
    height: 32px;
  }
  div {
    font-size: $header-size;
    color: $clr1;
  }
  .explore-filter form {
    width: 352px;
    height: 48px;
  }
}
