.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: auto; */
  /* justify-items: center; */
  justify-items: stretch;
  justify-content: space-between;
  /* gap: 10px; */
  grid-auto-rows: minmax(0, 1fr);
  grid-gap: $row-list-gap $column-list-gap;
}

ul {
  list-style: none;
}

.labels {
  margin-right: 3em;
  cursor: pointer;
}

.header-labels {
  margin-top: 3em;
}

.el-carousel__item {
  border-radius: 15px;
  height: 285px;
  width: 300px;
  img {
    height: 285px;
    object-fit: fill;
  }
}
