.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: auto; */
  /* justify-items: center; */
  justify-items: stretch;
  justify-content: space-between;
  /* gap: 10px; */
  grid-auto-rows: minmax(0, 1fr);
  grid-gap: $row-list-gap $column-list-gap;
  min-height: 73vh;
}

ul {
  list-style: none;
}

.carousel__slide {
  flex: 1 0 7%;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.carousel__viewport {
  overflow: hidden;
  padding: 11px;
  .carousel__prev {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 5px;
  cursor: pointer;
  img {
    width: 24px;
  }
}

.labels:hover {
  border-bottom: 1px solid black;
}

.labels span {
  padding-bottom: 14px;
}
.el-carousel__item {
  border-radius: 15px;
  height: 285px;
  width: 300px;
  img {
    height: 285px;
    object-fit: fill;
  }
}
.carousel__prev,
.carousel__next {
  background-color: rgb(255, 255, 255) !important;
  color: black;
  border: 0.5px solid rgb(0 0 0 / 0.3) !important;
}

.carousel__icon {
  fill: black !important;
}
