.form-filter {
  background-color: white;
  max-width: 780px;
  height: 80vh;
  position: fixed;
  z-index: 20;
  top: 0;
  /* left: 50%; */
  right: 50%;
  transform: translate(50%, 15%);
  width: 100%;
  padding: 0px 24px;
  box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
  border-radius: 12px;
  overflow: hidden;
  .form-wrapper {
    position: relative;
    height: 84%;
    overflow-y: auto;
  }

  h2 {
    flex: 1;
    font-size: em(16px);
    font-family: 'Cereal-medium', Helvetica, sans-serif;
  }
  .close-filter {
    flex: 1;

    span {
      font-size: 18px;
    }
    .form-footer {
      height: 8%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .form-header {
    display: flex;
    align-items: center;
    height: 8%;
    border-bottom: $border;
  }

  .form-price,
  .form-rooms-and-beds,
  .form-property-type,
  .form-amenities,
  .form-host-language {
    padding: $padding-filter 0;
    border-bottom: $border;
  }
}

@media (max-width: 800px) {
  .form-filter {
    width: calc(100% - 20px);
  }
}
