.form-filter {
  background-color: white;
  max-width: 780px;
  height: 80vh;
  position: fixed;
  z-index: 20;
  top: 0;
  /* left: 50%; */
  right: 50%;
  transform: translate(50%, 15%);
  width: 100%;
  padding: 0px 24px;
  box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
  border-radius: 12px;
  overflow: hidden;
  .form-wrapper {
    position: relative;
    height: 84%;
    overflow-y: auto;
  }

  h2 {
    flex: 1;
    font-size: em(16px);
    font-family: 'Cereal-medium', Helvetica, sans-serif;
  }
  .close-filter {
    flex: 1;

    span {
      font-size: 18px;
    }
    .form-footer {
      height: 8%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .form-header {
    display: flex;
    align-items: center;
    height: 8%;
    border-bottom: $border;
  }

  .form-price,
  .form-rooms-and-beds,
  .form-property-type,
  .form-amenities,
  .form-host-language {
    padding: $padding-filter 0;
    border-bottom: $border;
  }
}

@media (max-width: 800px) {
  .form-filter {
    width: calc(100% - 20px);
  }
}

.nested-enter-active,
.nested-leave-active {
  transition: all 0.3s ease-in-out;
}
/* delay leave of parent element */
.nested-leave-active {
  transition-delay: 0.25s;
}

.nested-enter-from,
.nested-leave-to {
  transform: translate(50%, 50%);
  opacity: 0;
}

/* we can also transition nested elements using nested selectors */
.nested-enter-active .inner,
.nested-leave-active .inner {
  transition: all 0.3s ease-in-out;
}
/* delay enter of nested element */
.nested-enter-active .inner {
  transition-delay: 0.25s;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
  transform: translateY(-50%);
  /*
  	Hack around a Chrome 96 bug in handling nested opacity transitions.
    This is not needed in other browsers or Chrome 99+ where the bug
    has been fixed.
  */
  opacity: 0.001;
}
