* {
  box-sizing: border-box;
}

html {
  font-family: 'Cereal';
}

body {
  font-size: $regular-size;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: $clr1;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: em(26px);
}

h2 {
  font-size: em(24px);
}
p {
  margin: 0;
  padding: 0;
  line-height: em(24px);
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  text-align: inherit;
}

.stared::before {
  content: '\e838';
  font-family: 'Material Icons';
}
.stared {
  display: flex;
  align-items: center;
  gap: 2px;
}
