.dashboard-container {

  .head-list {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 100%;

  }

  .order-list {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    padding-bottom: 7px;
  }
}