.details-layout {
  max-width: 1280px;
  margin: auto;

}



// Galerry
.gallery-details {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-template-rows: 230px 200px;
  grid-gap: 8px;
  gap: 8px;
  padding-top: em(24px);


  img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  :first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  :nth-child(3) {
    border-top-right-radius: 13px;
  }

  :nth-child(5) {
    border-bottom-right-radius: 13px;
  }
}



.amenity-icons {
  height: 15px;
}




.reviews-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 1px;
}

.review-preview-container {
  margin-right: 100px;
}

.reviews-image {
  height: 70px;
}