@font-face {
  font-family: 'Cereal';
  src: url('../../../../fonts/Airbnb_Cereal-Book.ttf'),
}

@font-face {
  font-family: 'Cereal-bold';
  src: url('../../../../fonts/Airbnb_Cereal-Medium.ttf'),
}

@font-face {
  font-family: 'Cereal-medium';
  src: url('../../../../fonts/Airbnb_Cereal-Bold.ttf'),
}


// @font-face {
//   font-family: 'airbnb-regular';
//   src: url('../../fonts/Airbnb_Cereal-Book.woff2');
// }

// @font-face {
//   font-family: airbnb-medium;
//   src: url('../../fonts/Airbnb_Cereal-Medium.woff2');
// }

// @font-face {
//   font-family: airbnb-bold;
//   src: url(~@/assets/fonts/Airbnb_Cereal-Bold.woff2);
// }