@font-face {
  font-family: 'Cereal';
  src: url('../../fonts/Airbnb_Cereal-Book.ttf'), format('truetype');
  font-weight: light;
}
@font-face {
  font-family: 'Cereal';
  src: url('../../fonts/Airbnb_Cereal-Bold.ttf'), format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Cereal';
  src: url('../../fonts/Airbnb_Cereal-Medium.ttf'), format('truetype');
  font-weight: medium;
}
