// Colors
$clr1: #222222;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #dddddd;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Fonts size

$header-size: 14px;

//Font wight
$light: 100;
$medium: 400;
$bold: 600;
